body{
    margin:0;
}

.container{
    display:flex;
}

.header{
    display:flex;
}

.sidebar{
    width:280px;
    height:100vh;

    background:linear-gradient(
        180deg,
        #ff69b4,
        #db2c84
    );

    overflow-y:auto;
}

.sidebar-title{
    font-size:20px;

    color:white;

    padding:20px;

    font-weight:bold;
}

.sidebar-btn-column{
    display:flex;
    flex-direction: column;

    width:100%;

    margin-top:20px;
}

.sidebar-btn{
    display:flex;
    align-items:center;
    gap:10px;

    width: 100%;
    height: 50px;

    padding-left: 20px;
    padding-right: 20px;

    border: none;
    background: none;
    color: white;
    font-size: 20px;

    cursor: pointer;
    transition: 0.2s;
}

.accordion-item:hover,
.sidebar-btn:hover{
    background:#FFFFFF26;
}

.accordion-item.active,
.sidebar-btn.active{
    background:white;
    color:hotpink;
    transform:translateX(10px);
}

.page{
    display:none;
}

.page.open{
    display:block;
}

.accordion-menu{
    display:flex;
    flex-direction:column;

    max-height:0;
    overflow:hidden;

    transition:0.4s;
}

.accordion-menu.open{
    max-height:500px;
}

.accordion-item{
    display: flex;
    align-items: center;
    gap: 10px;

    width: 100%;
    height: 50px;

    padding-left:40px;
    padding-right: 20px;

    border: none;
    background: none;
    color: white;
    font-size: 15px;

    cursor: pointer;
    transition: 0.2s;
}

.material-symbols-outlined{
    transition:0.3s;
}

.material-symbols-outlined.open{
    transform:rotate(90deg);
}

.main{
    flex:1;
    padding:40px;

    background:gainsboro;
}