body{
    margin:0;
}

.container{
    display:flex;
}

.header{
    display:flex;
}

.sidebar{
    width:280px;
    height:100vh;

    background:linear-gradient(
        180deg,
        #ff69b4,
        #db2c84
    );
}

.sidebar-title{
    font-size:20px;

    color:white;

    padding:20px;

    font-weight:bold;
}

.sidebar-btn-column{
    display:flex;
    flex-direction: column;

    width:100%;

    margin-top:20px;
}

.sidebar-btn{
    display:flex;
    align-items:center;
    gap:10px;

    background:none;
    border:none;

    color:white;

    font-size:20px;

    cursor:pointer;

    width:100%;
    height:50px;
    
    padding-left:20px;

    transition:0.2s;
}

.sidebar-btn:hover{
    background:#FFFFFF26;
}

.sidebar-btn.active{
    background:white;
    color:hotpink;
}

.page{
    display:none;
}

.page.open{
    display:block;
}

.main{
    flex:1;
    padding:40px;
}